    * {
        box-sizing: border-box;
    }

    .column {
        background-color: #ccc;
        text-align: center;
        min-height: 100px;
        line-height: 100px;
        border-bottom:5px solid #fff;
        display:block;
    }

    @media all and (max-width: 767px){
        .column .row {
            margin-bottom: -5px;
        }

        .row {
            margin-bottom: 50px;  
        }
    }

    @media all and (min-width: 768px){
        .row {
            font-size: 0;
            border-left:5px solid #fff;
            overflow: hidden;
        }

        .column .column {
            border-bottom:0px solid #fff;
        }

        .column {
            font-size: 16px;
            display:inline-block;
            float:left;
            background-color: #ccc;
            border-right:5px solid #fff;

        }

        .column .row {
            margin-right: -5px;
            margin-left: -5px;
        }

        .row > .column:nth-last-child(-n+6):first-child, .row > .column:nth-last-child(-n+6):first-child ~ .column { 
            width:16.667%;
        }

        .row > .column:nth-last-child(-n+5):first-child, .row > .column:nth-last-child(-n+5):first-child ~ .column { 
            width:20%;
        }

        .row > .column:nth-last-child(-n+4):first-child, .row > .column:nth-last-child(-n+4):first-child ~ .column { 
            width:25%;
        }

        .row > .column:nth-last-child(-n+3):first-child, .row > .column:nth-last-child(-n+3):first-child ~ .column { 
            width:33.333%;
        }

        .row > .column:nth-last-child(-n+2):first-child, .row > .column:nth-last-child(-n+2):first-child ~ .column { 
            width:50%;
        }

        .row > .column:nth-last-child(-n):first-child, .row > .column:nth-last-child(-n):first-child ~ .column { 
            width:100%;
        }
    } 

